<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700,800|Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
        rel="stylesheet">
    <link href="frontend\libraries\font-awesome-5\css\fontawesome-all.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="frontend\libraries\bootstrap\css\bootstrap.min.css">
    <link rel="stylesheet" href="frontend\styles\main.css">
    <link rel="stylesheet" href="frontend\libraries\gjigo\css\gijgo.min.css">
    <title>Beranda</title>
</head>

<body>
    
    <!-- navbar -->
    <div class="container">
        <nav class="row navbar navbar-expand-lg navbar-light bg-white">
            <a href="" class="navbar-brand">
                <img src="frontend\images\Terben.Tour@2x.png" alt="Logo TerbenTour">
            </a>

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navM">
                <span class="navbar-toggler-icon clr"></span>
            </button>

            <div class="collapse navbar-collapse" id="navM">
                <ul class="navbar-nav ml-auto mr-3">
                    <li class="nav-item mx-md-2">
                        <a href="#" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item mx-md-2">
                        <a href="#" class="nav-link">Paket Travel</a>
                    </li>
                    <li class="nav-item mx-md-2">
                        <a href="#" class="nav-link">Testimonial</a>
                    </li>
                </ul>
                <!-- Mobile Button -->
                <form class="from-inline d-sm-block d-md-none">
                    <button class="btn btn-login my-2 my-sm-0">
                        Masuk
                    </button>
                </form>
                <!-- end -->
                <!-- Desktop Button -->
                <form class="from-inline my-2 my-lg-0 d-none d-md-block">
                    <button class="btn btn-login btn-navbar-right my-2 my-sm-0 px-4">
                        Masuk
                    </button>
                </form>
                <!-- end -->
            </div>
        </nav>
    </div>
    <!-- end -->

    <header>
        <div class=" container header">
            <h1 class="row">
                Travel Aman
                <br>
                Harga Nyaman
            </h1>
            <p class="row mt-3">
                Pusing dengan kerjaan anda? Liburan Yukk!!
            </p>
            <div class="row search">
                <!-- ------- -->
            </div>
        </div>
    </header>

    <main>
        <div class="container mt-5 mb-5">
            <section class="row section-paket">
                <div class="owl-carousel owl-carousel-full image-carousel carousel-widget" data-margin="10"
                    data-nav="false" data-pagi="false" data-loop="true" data-autoplay="3000" data-items-xs="1"
                    data-items-sm="1" data-items-md="1" data-items-lg="1" data-items-xl="1">
                    <div class="row section-text">
                        <div class="col-7 mt-5">
                            <h3 class="mt-1">Exclusive Trips</h3>
                            <h2 class="mt-5">Nikmati Paket Liburan akhir Tahun 2020 di Raja Ampat </h2>
                            <p class="mt-5 mb-5 mr-5">
                                Sekilas pikiran menerawang dan sebuah lukisan elok pun muncul terbayang. Lautan lepas
                                dengan pulau-pulau karang yang tersusun rapih menyambut beberapa ekor lumba-lumba yang
                                berloncatan ceria. Langit yang biru berpadu dengan indahnya ombak menyisir setia
                            </p>
                            <h5 class="mt-3 pl-3 border-left">15 Hari Liburan</h5>
                            <div class="price-and-cta float-left">
                                <h4 class="mt-3">Rp. 80.000.000</h4>
                            </div>
                            <form class="from-inline my-2 my-lg-0 float-right">
                                <button class="btn-check btn-right my-2 my-sm-0 px-4 mx-3">
                                    Check <i class="fas fa-angle-right pl-2"></i>
                                </button>
                            </form>
                        </div>
                        <div class="col-5 mt-5">
                            <img class="img-pict-trip" src="frontend\images\pict-trip.png" alt="gambar1" class="mt-5">
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section class="section-testimonial-header mt-5">
            <div class="container">
                <div class="row section-testimonial">
                    <div class="owl-carousel owl-carousel-full image-carousel carousel-widget" data-margin="10"
                        data-nav="false" data-pagi="false" data-loop="true" data-autoplay="3000" data-items-xs="1"
                        data-items-sm="1" data-items-md="1" data-items-lg="1" data-items-xl="1">
                        <div class="row section-text">
                            <div class="col-7 mt-5">
                                <h3>Testimonial</h3>
                                <h3 class="mt-5 mb-5">Rating</h3>
                                <h5 class="mt-3 pr-5 mr-5">"Seperti saya bilang tadi, berlibur ke Raja Ampat itu mahal,
                                    tapi anda
                                    tidak
                                    akan menyesal. Itu pun kalau anda mendapat referensi berlibur ke Raja Ampat yang
                                    baik
                                    dan benar,"
                                </h5>
                                <h4 class="mt-5 mb-3">Galgadot</h4>
                                <p>Liburan ke Raja Ampat, Indonesia</p>
                            </div>
                            <div class="col-5">
                                <img src="frontend\images\pict-testi.png" alt="gambar1" class="mt-5 mr-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="section-footer mt-5 mb-4">
            <div class="section-footer-img">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-lg-4 align-items-center">
                                    <img src="frontend\images\phone.png" alt="">
                                    <h4>Call Us For Information</h4>
                                    <span>0812145252200</span>
                                </div>
                                <div class="col-12 col-lg-4 align-items-center">
                                    <img src="" alt="">
                                    <h4>Call Us For Information</h4>
                                    <span>0812145252200</span>
                                </div>
                                <div class="col-12 col-lg-4 align-items-center">
                                    <img src="" alt="">
                                    <h4>Call Us For Information</h4>
                                    <span>0812145252200</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid mb-3">
                <div class="row border-top justify-content-center align-items-center pt-4">
                    <div class="col-auto text-gray-500-font-weight-light">
                        2020.Copyright.Terben.Tour
                    </div>
                </div>
            </div>
        </footer>


    </main>
</body>
<script src="frontend\libraries\bootstrap\js\bootstrap.min.js"></script>
<script src="frontend\libraries\jquery\jquery-3.4.1.min.js"></script>
<script src="frontend\libraries\retina\retina.min.js"></script>
<script src="frontend\libraries\star_rating\star-rating.js"></script>
<script src="frontend\libraries\gjigo\js\gijgo.min.js"></script>

</html>